@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.coachSessionsPage {
  display: flex;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.logoColumn {
  width: 10%;
  background-color: #123B5E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  padding-left: 10px;
  padding-top: 20px;
}

.logo {
  width: 100%;
  height: auto;
  max-height: 50px;
  filter: brightness(0) invert(1);
}

.sidebar {
  width: 20%;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

.sidebarButton {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  text-align: left;
  background-color: #123B5E;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 80%;
  transition: background-color 0.3s ease;
}

.sidebarButton.active {
  background-color: #5B3D54;
}

.iconCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
}

.iconCircle svg {
  color: #123B5E;
}

.sidebarButton.active .iconCircle svg {
  color: #5B3D54;
}

.logoutButton {
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  background-color: #123B5E;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-top: auto;
  width: 80%;
}

.mainContent {
  width: 70%;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.titleContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.pageTitle {
  font-size: 33.6px;
  font-weight: bold;
  color: #5B3D54;
}

.sessionsTableContainer {
  width: 100%;
  overflow-x: auto;
}

.sessionsTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
  background-color: #fff;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sessionsTable th,
.sessionsTable td {
  padding: 12px 15px;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
}

.sessionsTable th {
  background-color: #fff;
  color: #123B5E;
  text-transform: capitalize;
  border-bottom: 1px solid #e0e0e0;
}

.sessionsTable td {
  color: #5B3D54;
}

.sessionsTable tr:last-child td {
  border-bottom: none;
}

.joinButton {
  background-color: #5B3D54;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.joinButton:hover {
  background-color: #4a3144;
}

.scheduleContainer {
  display: flex;
  gap: 20px;
}

.calendar {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calendar :global(.react-calendar__navigation__label) {
  font-size: 24px;
  color: #5B3D54;
  font-family: 'Roboto', sans-serif;
}

/* Ensure all calendar tiles are circular */
.calendar :global(.react-calendar__tile) {
  border-radius: 50% !important;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/* Style for available dates */
.availableDate {
  background-color: #4CAF50 !important;
  color: white !important;
}

.availableDate abbr {
  color: white !important;
}

/* Style for the current day */
.calendar :global(.react-calendar__tile--now) {
  background-color: #ffff76 !important;
}

/* Style for the selected day */
.calendar :global(.react-calendar__tile--active) {
  background-color: #006edc !important;
  color: white !important;
}

/* Ensure the content of the tile is centered and circular */
.calendar :global(.react-calendar__tile abbr) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180%;
  height: 100%;
  border-radius: 50%;
}

.timeSlotSelector h3 {
  color: #5B3D54;
  margin-bottom: 15px;
}

.timeSlots {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 15px;
  margin-top: 10px;
  border: 2px solid #e0e0e0;
  padding: 15px;
  border-radius: 15px;
}

.timeSlot {
  padding: 10px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.timeSlot.selected {
  background-color: #123B5E;
  color: #fff;
  border-color: #123B5E;
}

.timeSlot.booked {
  background-color: #ffe6e6;
  border-color: #FF5733;
  cursor: not-allowed;
}

.timeSlot:disabled {
  opacity: 0.6;
}

.saveButton {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: #5B3D54;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.saveButton:hover {
  background-color: #4a3144;
}