.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../assets/landing.jpg');
  background-size: cover;
  background-position: center;
}

.formContainer {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  position: relative;
}

.logoContainer {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.logo {
  height: 2rem;
  width: auto;
  max-width: 90%;
}

.formTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  color: #23395d;
}

.formGroup {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.formLabel {
  flex: 0 0 50%;
  font-size: 0.875rem;
  font-weight: bold;
  color: #23395d;
  margin-right: 1rem;
}

.formInput {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: #000;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.submitButton {
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  font-weight: 500;
  color: white;
  border: none;
  cursor: pointer;
  background-color: #5B3D54;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #4a3144;
}